<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="apperyio-config-xml" version="1.0.0">

    <name>ApperyioConfigXml</name>
    <description>Plugin to update config.xml for Appery.io projects</description>
    <license>Apache 2.0</license>
    <keywords>cordova,appery,config</keywords>

    <!--js-module src="www/ApperyioConfigXml.js" name="ConfigXml">
        <clobbers target="window.apperyioConfigXml" />
    </js-module-->

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        	
            <preference name="AllowInlineMediaPlayback" value="true" />

			<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
			    <string>Need camera access to take pictures</string>
			</edit-config>
			<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
			    <string>Need to photo library access to get pictures from there</string>
			</edit-config>
			<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
			    <string>Need location access to find things nearby</string>
			</edit-config>
			<edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
			    <string>Need to photo library access to save pictures there</string>
			</edit-config>

        </config-file>
    </platform>
</plugin>